.extra-text{
    width:650px;
    margin-left: 450px;
    font-size: 20px;
    margin-top: 20px;
}
.extra{
    background-color: rgb(185, 197, 193);
    padding: 30px;
}
.extra-below1{
    width:400px;
    border: 1px solid white;
    margin-top: 30px;
    margin-left:100px;
    padding: 15px;
    border-radius: 15px;


}
.extra-below2{
    width:400px;
    border: 1px solid white;
    margin-top: 30px;
    margin-left:50px;
    padding: 15px;
    border-radius: 15px;


}
.extra-below3{
    width:400px;
    border: 1px solid white;
    margin-top: 30px;
    margin-left:50px;
    padding: 15px;
    border-radius: 15px;


}
.extra-logo{
    font-size: 100px;
    margin-left:120px;
}
@media screen and (max-width: 500px) {
    .extra-below{
        display: grid;
        grid-template-columns: repeat(1,1);
    }
    .extra-text{
        display: none;
    }
    .extra-below1{
        margin-left:0px;
        width:300px;
    }
    .extra-below2{
        margin-left:0px;
        width:300px;
    }
    .extra-below3{
        margin-left:0px;
        width:300px;
    }
    .extra-logo{
        font-size: 100px;
        margin-left:100px;
    }
  }