.addPro{
    margin-top: 50px;
    margin-left: 200px;
    border: 1px solid green;
    border-radius: 20px;
    width:500px;
    margin-bottom: 30px;
    padding-top: 10px;
}

@media only screen and (max-width:576px) {

    .addPro{
        margin-left: 10px;
        width:350px;
    }

}