.inputField-des{
    height:50px;
    width:500px;
}
.review{
    border:1px solid rgb(64, 57, 57);
    border-radius: 15px;
    padding:40px;
}
@media only screen and (max-width:576px) {
    .inputField-des{
        height:50px;
        width:350px;
    }

}