.profile{
    padding: 50px;
}
.icon{
    font-size: 60px;
    margin-right: 10px;
}
.myProfile{
    margin-top:0px;
    margin-bottom: 0px;
    margin-left: 400px;
}

@media only screen and (max-width:576px) {
    .fff{
        margin-top: 100px;
    }
    .myProfile{
        margin-top:30px;
        margin-bottom: 30px;
    }

}