.Nnav{
    margin-left:700px;
}
.iconNav{
    font-size:40px;
}
.nav_color{
    background-color:  #ffffff;
    color: black;
    font-weight: bold;
}
@media only screen and (max-width:576px) {
    .title-mobile{
    margin-left: 50px ;
    }

}