
.parts_main{
    background-color: #F6F9FF;
}
.price{
    color:#4a5256
}
.order{
    color:rgb(32, 109, 202)
}
.part{
    width:400px;
    height:570px;
    background-color: #E1E5E8;
    margin-bottom: 20px;


}
.part_button{
    /* background-color: rgb(48, 51, 51); */
    background-color: #19D2AD;
    color: rgb(255, 255, 255);
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    border-radius: 10px;


}
.button-ets{
    color: #ffffff;
    background-color: #2EA1C7;
}
.part_price{
    color: rgb(34, 36, 42);
    font-weight: bold;
}
/* .part_button:hover{
    background-color: #19D2AD;
    color: rgb(7, 9, 10);
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    border-radius: 10px;


} */