.banner-img{
    width:1520PX;
    height: 750PX;
}
.banner-img-mobile{
    display:none;
}
.banner-text{
    font-family: 'Franklin Gothic Medium';

}

.banner-text-2{
    font-size: 60px;
    color: rgb(12, 16, 19);
    position: absolute;
    top:120px;
    left:400px;
    font-family: 'Dancing Script', cursive;

}



@media only screen and (max-width:576px) {
    .banner-img{
    display:none ;
    }
    .banner-img-mobile{
        display: initial;
        height: 200px;
        width:390px;
        position: absolute;
        left: 0px;
        top: 50px;
    }
    .banner-text-2{
        display:none;
    }


}