.title{
    margin-left: 00px;
}
.title-img{
    height:300px;
}
.skill{
    width:600px;
    margin-left: 400px;
}

@media only screen and (max-width:576px) {
    .skill{
        width:350px;
        margin-left: 10px;
    }

}